.upload-section {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 60px;
}

.upload-wrapper {
    display: flex;
    gap: 20px;
    margin: 40px 0;
}

.upload-card {
    /* bagi 50 50 dua card */
    flex: 1;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.upload-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.12);
}

.upload-card h3 {
    margin-bottom: 20px;
}

.upload-box {
    display: block;
    padding: 20px;
    border: 2px dashed #dbdbdb;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.upload-box:hover {
    border-color: #E1306C;
    color: #E1306C;
}

.upload-box.filled {
  border-color: #E1306C;
  color: #E1306C;
  font-weight: 600;
}

.compare-btn {
    padding: 14px 40px;
    font-size: 16px;
    border: none;
    border-radius: 999px;
    color: white;
    cursor: pointer;
    background-color: #E1306C;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.compare-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.12);
}

@media (max-width: 720px) {
    .upload-wrapper {
        flex-direction: column;
    }

    .upload-card {
        padding: 24px;
    }
}
